<h1>The answer</h1>

<p>
  You guesses the rule was:
</p>
<p>
  <%=@user_answer.capitalize%>
</p>
<p>
The answer was extremely basic. The rule was simply: Each number must be larger than the one before it. 5, 10, 20 satisfies the rule, as does 1, 2, 3 and -17, 14.6, 845. Children in kindergarten can understand this rule.
</p>

<p>
But most people start off with the incorrect assumption that if we’re asking them to solve a problem, it must be a somewhat tricky problem. They come up with a theory for what the answer is, like: Each number is double the previous number. And then they make a classic psychological mistake.
</p>

<p>
They don’t want to hear the answer “no.” In fact, it may not occur to them to ask a question that may yield a no.



</p>
<p>
Remarkably, 77 percent of people who have played this game so far have guessed the answer without first hearing a single no. A mere 9 percent heard at least three nos — even though there is no penalty or cost for being told no, save the small disappointment that every human being feels when hearing “no.”
</p>
<p>


It’s a lot more pleasant to hear “yes.” That, in a nutshell, is why so many people struggle with this problem.
</p>
